/*---------*/
/* General */
/*---------*/

:root {
    --padding-standard: 30px;
    --padding-l: 50px;
    --padding-xl: 100px;
    --bg-primary-color: #B4D0E7;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    min-width: 260px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: auto;
}

.container-xl {
    max-width: 1150px;
    min-width: 260px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: auto;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}

.grow {
    flex-grow: 1;
}


/*----------------*/
/* Rows & Columns */
/*----------------*/

.col-20 {
    min-width: 200px;
    flex-basis: 20%;
}

.col-33 {
    min-width: 260px;
    flex-basis: 33.333%;
}

.gap-s .col-33 {
    flex-basis: calc(33.333% - 1rem);
}

.col-50 {
    min-width: 400px;
    max-width: 50%;
}

.col-66 {
    min-width: 400px;
    flex-basis: 66.666%;
}

.gap-s .col-66 {
    flex-basis: calc(66.666% - 1rem);
}

.col-80 {
    min-width: 400px;
    max-width: 80%;
}

.gap-s {
    gap: 1rem;
}



/*------------*/
/* Typography */
/*------------*/


h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
}

h2 {
    font-size: 35px;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    line-height: 38px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p,
.nav-link {
    font-size: 14px;
    line-height: 26px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    padding: 3px 15px;
}

.nav-link:hover {
    text-decoration: underline;
}


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #0061FF;
    color: #ffffff;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
}

.btn:hover {
    background-color: #0053d8;
}

.btn-small {
    padding: 4px 15px;
}

.btn-outline {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.btn-outline:hover {
    background-color: #f4f2f2;
}


/*-------------*/
/* Custom list */
/*-------------*/

.custom-list-element {
    padding-bottom: 20px;
}

.custom-list-element-icon {
    min-width: 25px;
}

.custom-list-element-text {
    flex-grow: 1;
}


/*---------------------*/
/* Custom line divider */
/*---------------------*/

.line-divider-small {
    width: 50px;
    border-bottom: 1px solid #E3E3E5;
}

.line-divider-large {
    width: 100px;
    border-bottom: 1px solid #E3E3E5;
}


/*--------*/
/* Navbar */
/*--------*/

nav .row {
    background-color: #ffffff;
    padding: 15px 10px;
    box-shadow: 1px 1px 3px #7b7b7b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

nav .row .col-50 .nav-logo {
    max-height: 30px;
    padding-right: 20px;
}

nav .row .col-50:last-of-type {
    justify-content: flex-end;
}


/*--------*/
/* Header */
/*--------*/

header {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--bg-primary-color);
}

.header-offset {
    position: relative;
    top: 100px;
}

header .container-xl .row:last-of-type {
    width: 100%;
    padding-top: 50px;
}


header .row .col-33 .btn {
    margin-top: var(--padding-standard);
    margin-bottom: var(--padding-standard);
}

header .row .col-33 i {
    display: inline-block;
    padding-top: var(--padding-l);
    text-decoration: none;
    color: #000000;
    font-size: 40px;
}

header .row .col-66 img {
    width: 100%;
}


/*---------------------*/
/* Price Cards Section */
/*---------------------*/

.price-cards-section {
    margin-top: 120px;
}

.price-cards-section .row:nth-child(2) {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-standard);
}

.price-cards-section .row:nth-child(2) label {
    padding-right: 20px;
}

.price-cards-section .row:nth-child(3) {
    align-items: stretch;
    padding-bottom: var(--padding-l);
}

.price-card {
    height: 100%;
    border: 1px solid #EDEDEE;
}

.row:nth-child(4) .price-card-info .col-66 .price-card-value {
    padding-bottom: var(--padding-l);
}

.row:nth-child(4) .price-card-info .row .col-33 {
    text-align: right;
}

.price-card-name {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #EDEDEE;
    text-align: center;
}

.price-card-name p {
    display: inline-block;
    padding-left: 10px;
}

.price-card-info {
    padding: 30px 25px 20px;
}

.price-card-title,
.price-card-value {
    padding-bottom: 20px;
}

.price-card-value p {
    font-size: 14px;
    font-weight: 700;
}

.price-card-features-list {
    padding: 40px 0;
}

.price-card-cta a {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.price-card .line-divider-small {
    margin-top: var(--padding-l);
    margin-bottom: var(--padding-l);
}

.price-card .price-card-usp h6 {
    padding-bottom: var(--padding-standard);
}

.price-card .price-card-usp i {
    color: #0E63FF;
}


/*----------------*/
/* Find a partner */
/*----------------*/

.find-a-partner-section {
    padding: var(--padding-xl) 0;
}

.find-a-partner-section .col-33:first-of-type img {
    width: 100%;
}

.find-a-partner-section .col-33:last-of-type {
    padding-top: var(--padding-l);
}

.find-a-partner-section .col-33:last-of-type p {
    padding: 20px 0;
}


/*----------------------*/
/* Dropbox Business USP */
/*----------------------*/

.usp-section {
    padding: var(--padding-l) 0;
}

.usp-section .row:nth-child(2) {
    padding-bottom: var(--padding-l);
}

.usp-section-title {
    padding-bottom: var(--padding-l);
}

.usp-section .row:nth-child(2) .col-33 .usp-tile-image img {
    width: 100%;
    padding-bottom: 10px;
}

.usp-section .row:nth-child(2) .col-33 .usp-tile-info h3 {
    padding-bottom: 20px;
}


/*---------*/
/* Clients */
/*---------*/

.clients {
    padding-top: var(--padding-l) 0;
}

.clients .container .row {
    padding-bottom: var(--padding-xl);
}

.clients .container .row h2 {
    padding: var(--padding-l) 0;
}

.clients .clients-grid {
    width: 100vw;
}

.clients .clients-grid-col {
    max-width: calc(100vw / 3);
    width: 100%;
    min-width: 450px;
}

.clients .clients-grid-col .clients-grid-square {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.clients .clients-grid-col .clients-grid-square img {
    width: 50%;
    filter: invert();
}

.clients .clients-grid-col #square-green {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.clients .clients-grid-col #square-bordeaux {
    background-color: #61082B;
}

.clients .clients-grid-col #square-lightblue {
    background-color: #0093CE;
}

.clients .clients-grid-col #square-lightred {
    background-color: #FF1C1C;
}

.clients .clients-grid-col #square-red {
    background-color: #D5001F;
}

.clients .clients-grid-col #square-azure {
    background-color: #B4D0E7;
}

.clients .clients-grid-col #square-blue {
    background-color: #0D2481;
}

.clients .clients-grid-col #square-yellow {
    background-color: #FFD830;
}

.clients .clients-grid-col:nth-child(2) {
    background-color: #F5F5F5;
    padding: var(--padding-l);
}

.clients .clients-grid-col:nth-child(2) .line-divider-large {
    border-bottom: 1px solid #D5D5D7;
}

.clients .clients-grid-col .clients-grid-central-col-logo {
    padding-bottom: var(--padding-standard);
}

.clients .clients-grid-col .clients-grid-central-col-logo img {
    width: 50%;
}

.clients .clients-grid-col .clients-grid-central-col-quote p:first-of-type {
    padding: var(--padding-standard) 0 var(--padding-l) 0;
}

.clients-cta {
    background-color: var(--bg-primary-color);
}

.clients-cta .container .row {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
}

.clients-cta .row .col-50 h2 {
    color: #61082B;
    padding: 0 0;
}

.clients-cta .row .col-50:last-of-type {
    text-align: right;
}

.clients-cta .btn-outline {
    border: none;
}


/*-----*/
/* FAQ */
/*-----*/

.faq {
    padding: var(--padding-xl) 0;
}

.faq-list {
    padding: var(--padding-l) 0;
}

.faq .row {
    padding: var(--padding-standard) 0;
    border-top: 1px solid #000000;
}

.faq .row:last-of-type {
    border-bottom: 1px solid #000000;
}

.faq .faq-list .faq-item-col-small {
    min-width: 5%;
}

.faq .faq-list .faq-item-col-large {
    min-width: 95%;
}


/*--------*/
/* Footer */
/*--------*/

footer {
    background-color: #000000;
    padding: var(--padding-standard) 0;
}

footer .row:first-of-type {
    padding: var(--padding-standard) 0 var(--padding-l) 0;
}

footer .col-20 h3 {
    color: #ffffff;
    padding-bottom: 25px;
}

footer .col-20 a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
}

footer .col-20 a:hover {
    text-decoration: underline;
}

.footer-language-selector {
    padding-top: var(--padding-standard);
    color: #ffffff;
}

.footer-language-selector p {
    display: inline-block;
    padding: 0 5px;
}