/*---------*/
/* General */
/*---------*/

:root {
    --padding-standard: 30px;
    --padding-l: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-xl {
    max-width: 1150px;
    min-width: 260px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.container {
    max-width: 960px;
    min-width: 260px;
    width: 100%;
    margin: auto;
    padding: 10px;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}


/*------------*/
/* Typography */
/*------------*/

p {
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
}

h2 {
    font-size: 37px;
    line-height: 50px;
}

h3 {
    font-size: 26px;
    line-height: 38px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 3px 15px;
}


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #0061FF;
    color: #ffffff;
    padding: 8px 20px;
    text-decoration: none;
}

.btn-small {
    padding: 4px 15px;
}


/*-------------*/
/* Custom list */
/*-------------*/

.custom-list-element {
    padding-bottom: 20px;
}

.custom-list-element-icon {
    min-width: 25px;
}

.custom-list-element-text {
    flex-grow: 1;
}


/*---------------------*/
/* Custom line divider */
/*---------------------*/

.line-divider-small {
    width: 50px;
    border-bottom: 1px solid #E3E3E5;
}


/*--------*/
/* Navbar */
/*--------*/

nav {
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-col {
    height: 30px;
    min-width: 350px;
    max-width: 50%;
}

.nav-col img {
    max-height: 30px;
    padding-right: 20px;
}


/*--------*/
/* Header */
/*--------*/

header {
    padding: 20px 0 40px 0;
    background-color: #B4D0E7;
}

.header-offset {
    position: relative;
    top: 100px;
}

.header-title {
    width: 85%;
}

.header-cols {
    width: 100%;
    padding-top: 50px;
}

.header-col-small {
    min-width: 250px;
    max-width: 30%;
    width: 100%;
}

.header-col-small a:first-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small p:last-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small a:last-of-type {
    display: inline-block;
    padding-top: var(--padding-l);
    text-decoration: none;
    color: #000000;
    font-size: 40px;
}

.header-col-large {
    min-width: 300px;
    max-width: 70%;
    width: 100%;
}

.header-col-large img {
    width: 100%;
}


/*---------------------*/
/* Price Cards Section */
/*---------------------*/

.price-cards-section-title {
    margin-top: 120px;
}

.price-cards-section-radio {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-standard);
}

.price-cards-section-radio label {
    padding-right: 20px;
}

.price-cards-wrapper {
    width: 100%;
    gap: 42px;
    align-items: stretch;
    padding-bottom: var(--padding-l);
}

.price-card {
    max-width: calc(100% / 3 - 28px);
    min-width: 260px;
    width: 100%;
    border: 1px solid #EDEDEE;
}

.price-card-name {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #EDEDEE;
    text-align: center;
}

.price-card-name p {
    display: inline-block;
    padding-left: 10px;
}

.price-card-info {
    padding: 30px 25px 20px;
}

.price-card-title,
.price-card-value {
    padding-bottom: 20px;
}

.price-card-value .price-card-value-text {
    font-size: 14px;
    font-weight: 700;
}

.price-card-features-list {
    padding: 40px 0;
}

.price-card-cta a {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.price-card .line-divider-small {
    margin-top: var(--padding-l);
    margin-bottom: var(--padding-l);
}

.price-card .price-card-usp h6 {
    padding-bottom: var(--padding-standard);
}

.price-card .price-card-usp i {
    color: #0E63FF;
}