/*---------*/
/* General */
/*---------*/

:root {
    --padding-standard: 30px;
    --padding-l: 50px;
    --padding-xl: 100px;
    --bg-primary-color: #B4D0E7;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-xl {
    max-width: 1150px;
    min-width: 260px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.container {
    max-width: 960px;
    min-width: 260px;
    width: 100%;
    margin: auto;
    padding: 10px;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}

.grow {
    flex-grow: 1;
}


/*------------*/
/* Typography */
/*------------*/

p {
    font-size: 14px;
    line-height: 26px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
}

h2 {
    font-size: 35px;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    line-height: 38px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 3px 15px;
}


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #0061FF;
    color: #ffffff;
    padding: 8px 20px;
    text-decoration: none;
}

.btn-small {
    padding: 4px 15px;
}

.btn-outline {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}


/*-------------*/
/* Custom list */
/*-------------*/

.custom-list-element {
    padding-bottom: 20px;
}

.custom-list-element-icon {
    min-width: 25px;
}

.custom-list-element-text {
    flex-grow: 1;
}


/*---------------------*/
/* Custom line divider */
/*---------------------*/

.line-divider-small {
    width: 50px;
    border-bottom: 1px solid #E3E3E5;
}

.line-divider-large {
    width: 100px;
    border-bottom: 1px solid #E3E3E5;
}


/*--------*/
/* Navbar */
/*--------*/

nav {
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-col {
    height: 30px;
    min-width: 350px;
    max-width: 50%;
}

.nav-col img {
    max-height: 30px;
    padding-right: 20px;
}


/*--------*/
/* Header */
/*--------*/

header {
    padding: 20px 0 40px 0;
    background-color: var(--bg-primary-color);
}

.header-offset {
    position: relative;
    top: 100px;
}

.header-title {
    width: 85%;
}

.header-cols {
    width: 100%;
    padding-top: 50px;
}

.header-col-small {
    min-width: 250px;
    max-width: 30%;
    width: 100%;
}

.header-col-small a:first-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small p:last-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small a:last-of-type {
    display: inline-block;
    padding-top: var(--padding-l);
    text-decoration: none;
    color: #000000;
    font-size: 40px;
}

.header-col-large {
    min-width: 300px;
    max-width: 70%;
    width: 100%;
}

.header-col-large img {
    width: 100%;
}


/*---------------------*/
/* Price Cards Section */
/*---------------------*/

.price-cards-section-title {
    margin-top: 120px;
}

.price-cards-section-radio {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-standard);
}

.price-cards-section-radio label {
    padding-right: 20px;
}

.usp-section-wrapper,
.price-cards-wrapper {
    width: 100%;
    gap: 42px;
    align-items: stretch;
    padding-bottom: var(--padding-l);
}

.usp-tile,
.price-card {
    max-width: calc(100% / 3 - 28px);
    min-width: 260px;
    width: 100%;
    border: 1px solid #EDEDEE;
}

.price-card-enterprise {
    max-width: 100%;
}

.price-card-name {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #EDEDEE;
    text-align: center;
}

.price-card-name p {
    display: inline-block;
    padding-left: 10px;
}

.price-card-info {
    padding: 30px 25px 20px;
}

.price-card-title,
.price-card-value {
    padding-bottom: 20px;
}

.price-card-value .price-card-value-text {
    font-size: 14px;
    font-weight: 700;
}

.price-card-features-list {
    padding: 40px 0;
}

.price-card-cta a {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.price-card .line-divider-small {
    margin-top: var(--padding-l);
    margin-bottom: var(--padding-l);
}

.price-card .price-card-usp h6 {
    padding-bottom: var(--padding-standard);
}

.price-card .price-card-usp i {
    color: #0E63FF;
}

.price-card-enterprise-col-large {
    max-width: 70%;
    width: 100%;
}

.price-card-enterprise-col-small {
    max-width: 30%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.price-card-enterprise .price-card-info .price-card-enterprise-col-large .price-card-value {
    padding-bottom: var(--padding-l);
}


/*----------------*/
/* Find a partner */
/*----------------*/

.find-a-partner-section {
    padding: 80px 0;
}

.find-a-partner-col {
    width: 40%;
}

.find-a-partner-col:last-of-type {
    padding: var(--padding-l) 0 0 var(--padding-l);
}

.find-a-partner-section .find-a-partner-col img {
    width: 100%;
}

.find-a-partner-section .find-a-partner-col p {
    padding: 20px 0;
}


/*----------------------*/
/* Dropbox Business USP */
/*----------------------*/

.usp-section {
    padding: var(--padding-l) 0;
}

.usp-section-title {
    padding-bottom: var(--padding-l);
}

.usp-section .usp-section-wrapper .usp-tile {
    border: none;
}

.usp-section .usp-section-wrapper .usp-tile .usp-tile-image img {
    width: 100%;
    padding-bottom: 10px;
}

.usp-section .usp-section-wrapper .usp-tile .usp-tile-info h3 {
    padding-bottom: 20px;
}


/*---------*/
/* Clients */
/*---------*/

.clients {
    padding-top: var(--padding-l) 0;
}

.clients-title {
    width: 66%;
    padding-bottom: var(--padding-l);
}

.clients-title h2 {
    padding: var(--padding-l) 0;
}

.clients-title a {
    display: inline-block;
    padding-bottom: var(--padding-l);
}

.clients .clients-grid {
    width: 100vw;
}

.clients .clients-grid-col {
    width: calc(100vw / 3);
}

.clients .clients-grid-col .clients-grid-square {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.clients .clients-grid-col .clients-grid-square img {
    width: 50%;
    filter: invert();
}

.clients .clients-grid-col #square-green {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.clients .clients-grid-col #square-bordeaux {
    background-color: #61082B;
}

.clients .clients-grid-col #square-lightblue {
    background-color: #0093CE;
}

.clients .clients-grid-col #square-lightred {
    background-color: #FF1C1C;
}

.clients .clients-grid-col #square-red {
    background-color: #D5001F;
}

.clients .clients-grid-col #square-azure {
    background-color: #B4D0E7;
}

.clients .clients-grid-col #square-blue {
    background-color: #0D2481;
}

.clients .clients-grid-col #square-yellow {
    background-color: #FFD830;
}

.clients .clients-grid-col:nth-child(2) {
    background-color: #F5F5F5;
    padding: var(--padding-l);
}

.clients .clients-grid-col:nth-child(2) .line-divider-large {
    border-bottom: 1px solid #D5D5D7;
}

.clients .clients-grid-col .clients-grid-central-col-logo {
    padding-bottom: var(--padding-standard);
}

.clients .clients-grid-col .clients-grid-central-col-logo img {
    width: 50%;
}

.clients .clients-grid-col .clients-grid-central-col-quote p:first-of-type {
    padding: var(--padding-standard) 0 var(--padding-l) 0;
}

.clients-cta {
    background-color: var(--bg-primary-color);
}

.clients-cta-wrapper {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
}

.clients-cta-col {
    width: 50%;
    min-width: 350px;
}

.clients-cta-col:last-of-type {
    justify-content: flex-end;
    align-items: flex-start;
}

.clients .clients-cta .clients-cta-wrapper .clients-cta-col h2 {
    color: #61082B;
}

.clients .clients-cta .clients-cta-wrapper .clients-cta-col .btn-outline {
    border: none;
}


/*-----*/
/* FAQ */
/*-----*/

.faq {
    padding: var(--padding-xl) 0;
}

.faq-list {
    padding: var(--padding-l) 0;
}

.faq .faq-item {
    padding: var(--padding-standard) 0;
    border-top: 1px solid #000000;
}

.faq .faq-item:last-of-type {
    border-bottom: 1px solid #000000;
}

.faq .faq-list .faq-item-col-small {
    min-width: 5%;
}

.faq .faq-list .faq-item-col-large {
    min-width: 95%;
}


/*--------*/
/* Footer */
/*--------*/

footer {
    background-color: #000000;
    padding: var(--padding-standard) 0;
}

.footer-col-wrapper {
    padding: var(--padding-standard) 0 var(--padding-l) 0;
}

.footer-col {
    max-width: 226px;
    min-width: 200px;
    width: 100%;
}

footer .footer-col h3 {
    color: #ffffff;
    padding-bottom: 25px;
}

footer .footer-col a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
}

.footer-language-selector {
    padding-top: var(--padding-standard);
    color: #ffffff;
}

.footer-language-selector p {
    display: inline-block;
    padding: 0 5px;
}