/*---------*/
/* General */
/*---------*/

:root {
    --padding-standard: 30px;
    --padding-l: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-xl {
    max-width: 1200px;
    min-width: 260px;
    width: 100%;
    margin: auto;
    padding: 10px;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}


/*------------*/
/* Typography */
/*------------*/

p {
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 3px 15px;
}


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #0061FF;
    color: #ffffff;
    padding: 8px 20px;
    text-decoration: none;
}

.btn-small {
    padding: 4px 15px;
}


/*--------*/
/* Navbar */
/*--------*/

nav {
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-col {
    height: 30px;
    min-width: 350px;
    max-width: 50%;
}

.nav-col img {
    max-height: 30px;
    padding-right: 20px;
}


/*--------*/
/* Header */
/*--------*/

header {
    padding: 20px 0 20px 0;
    background-color: #B4D0E7;
}

.header-offset {
    position: relative;
    top: 100px;
}

.header-title {
    width: 85%;
}

.header-cols {
    width: 100%;
    padding-top: 30px;
}

.header-col-small {
    min-width: 250px;
    max-width: 30%;
    width: 100%;
}

.header-col-small a:first-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small p:last-of-type {
    margin-top: var(--padding-standard);
}

.header-col-small a:last-of-type {
    display: inline-block;
    padding-top: var(--padding-l);
    text-decoration: none;
    color: #000000;
    font-size: 40px;
}

.header-col-large {
    min-width: 300px;
    max-width: 70%;
    width: 100%;
}

.header-col-large img {
    width: 100%;
}